<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>news</title>
    <link rel="stylesheet" href="/libs/materialize/dist/css/materialize.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col s12">
                <div class="parallax-container">
                    <div class="parallax"><img src="../images/newsParallax01.jpg" width="1000px" height="750px"></div>
                </div>
                <div class="section #212121">
                    <div class="row">
                        <h2 class="header">News</h2>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="cardtainer">
                                <div class="row valign-wrapper">
                                    <div class="col s6 offset-s3 valign">
                                        <div class="card">
                                            <div class="card-image">
                                                <img src="https://media.wired.com/photos/599f918e830be12ccc48460c/master/w_1200,c_limit/SPOW_Aug25_02.jpg">
                                                <span class="card-title">Space Photos of the Week</span>
                                            </div>
                                            <div class="card-content">
                                                <p>NASA Takes Better Eclipse Photos than You</p>
                                            </div>
                                            <div class="card-action">
                                                <a href="https://www.wired.com/story/space-photos-of-the-week-nasa-takes-better-eclipse-photos-than-you/">Story on Wired.com</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="cardtainer">
                                <div class="row valign-wrapper">
                                    <div class="col s6 offset-s3 valign">
                                        <div class="card">
                                            <div class="card-image">
                                                <img src="https://img.purch.com/w/660/aHR0cDovL3d3dy5zcGFjZS5jb20vaW1hZ2VzL2kvMDAwLzA2OS8xOTEvb3JpZ2luYWwvcHJvYmEtMl9lY2xpcHNlLmpwZw==">
                                                <span class="card-title">Satellites Spy 2017 Solar Eclipse from Space</span>
                                            </div>
                                            <div class="card-content">
                                                <p>The European Space Agency's Proba-2 satellite captured a partial solar eclipse
                                                    three times on Aug. 21, 2017</p>
                                            </div>
                                            <div class="card-action">
                                                <a href="https://www.wired.com/story/space-photos-of-the-week-nasa-takes-better-eclipse-photos-than-you/">Story on Space.com</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="cardtainer">
                                <div class="row valign-wrapper">
                                    <div class="col s6 offset-s3 valign">
                                        <div class="card">
                                            <div class="card-image">
                                                <img src="https://img.purch.com/h/1400/aHR0cDovL3d3dy5zcGFjZS5jb20vaW1hZ2VzL2kvMDAwLzA2OS8yOTYvb3JpZ2luYWwvRElLWEhydlhrQUVOOWRXLmpwZw==">
                                                <span class="card-title">Flooding from Harvey Closes NASA Center in Houston</span>
                                            </div>
                                            <div class="card-content">
                                                <p>Space Station Operations Continue</p>
                                            </div>
                                            <div class="card-action">
                                                <a href="https://www.space.com/37960-heavy-rain-closes-nasa-johnson.html">Story on Space.com</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="cardtainer">
                                <div class="row valign-wrapper">
                                    <div class="col s6 offset-s3 valign">
                                        <div class="card">
                                            <div class="card-image">
                                                <img src="https://i.guim.co.uk/img/media/5f05410cfd8ff2736b61f7b68543661db30924d6/91_101_1168_701/master/1168.jpg?w=620&q=20&auto=format&usm=12&fit=max&dpr=2&s=f9aba98f221abd046f5e0a14f94b60bf">
                                                <span class="card-title">Former SpaceX employee is among Nasa's new recruits</span>
                                            </div>
                                            <div class="card-content">
                                                <p>Kulin formerly worked at SpaceX as a senior manager for flight reliability.</p>
                                            </div>
                                            <div class="card-action">
                                                <a href="https://www.theguardian.com/science/2017/aug/27/nasa-astronaut-recruits-space-travel">Story on theguardian.com</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="parallax-container">
                        <div class="parallax"><img src="../images/newsParallax02.jpg" width="1000px" height="750px"></div>
                    </div>
                </div>
            </div>
            <div class="fixed-action-btn vertical click-to-toggle">
                <a class="btn-floating btn-large cyan"><i class="material-icons">menu</i></a>
                <ul>
                    <li><a class="btn-floating cyan darken-4" href="/news"><i class="material-icons">format_list_bulleted</i></a></li>
                    <li><a class="btn-floating cyan darken-3" href="/videos"><i class="material-icons">video_library</i></a></li>
                    <li><a class="btn-floating cyan darken-2" href="/photos"><i class="material-icons">photo_library</i></a></li>
                    <li><a class="btn-floating cyan darken-1" href="/"><i class="material-icons">home</i></a></li>
                </ul>
            </div>
        </div>
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Thanks for visiting</h5>
                        <p class="grey-text text-lighten-4">and thanks for taking an interest in our planet, our solar system, and the space beyond</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Check out some other cool sites</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://www.nasa.gov/">Nasa</a></li>
                            <li><a class="grey-text text-lighten-3" href="http://www.spacex.com/">SpaceX</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2017 Copyright Earth
                    <a class="grey-text text-lighten-4 right" href="https://www.google.com/">Start Learning Today</a>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
        <script src="../libs/materialize/dist/js/materialize.min.js"></script>
        <script src="../js/jQuery.js"></script>
</body>

</html>