<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photos</title>
    <link rel="stylesheet" href="/libs/materialize/dist/css/materialize.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col s12">
                <div class="parallax-container">
                    <div class="parallax"><img src="../images/Carousel01.jpg" width="1000px" height="750px"></div>
                </div>
                <div class="section #212121">
                    <div class="row">
                        <h2 class="header">Photos</h2>
                        <p class="grey-text text-darken-3 lighten-3">
                            Photos
                        </p>
                    </div>
                </div>
                <div class="parallax-container">
                    <div class="parallax"><img src="../images/Carousel02.jpg" width="1000px" height="750px"></div>
                </div>
            </div>
        </div>
        <div class="fixed-action-btn vertical click-to-toggle">
            <a class="btn-floating btn-large cyan"><i class="material-icons">menu</i></a>
            <ul>
                <li><a class="btn-floating cyan darken-4" href="/news"><i class="material-icons">format_list_bulleted</i></a></li>
                <li><a class="btn-floating cyan darken-3" href="/videos"><i class="material-icons">video_library</i></a></li>
                <li><a class="btn-floating cyan darken-2" href="/photos"><i class="material-icons">photo_library</i></a></li>
                <li><a class="btn-floating cyan darken-1" href="/"><i class="material-icons">home</i></a></li>
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="../libs/materialize/dist/js/materialize.min.js"></script>
    <script src="../js/jQuery.js"></script>
</body>

</html>