<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photos</title>
    <link rel="stylesheet" href="/libs/materialize/dist/css/materialize.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col s12">
                <div class="parallax-container">
                    <div class="parallax"><img src="../images/photosParallax01.jpg" width="1000px" height="750px"></div>
                </div>
                <div class="section #212121">
                    <div class="row">
                        <h2 class="header">Photos</h2>
                    </div>
                    <div class="row">
                        <p>Photos of the Mercury Project (Started 1958)</P>
                        <div class="col s3">
                            <img class="materialboxed" data-caption="Liftoff of John Glenn's Friendship 7, Feb. 20, 1962" width="250" src="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/9609433802_26277c4866_o.jpg">
                        </div>
                        <div class="col s3">
                            <img class="materialboxed" data-caption="Astronaut John Glenn Undergoes Simulated Orbital Flight Training" width="250" src="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/9457848217_df5abfaca0_o.jpg">
                        </div>
                        <div class="col s3">
                            <img class="materialboxed" data-caption="Astronaut Alan B. Shepard, Jr. lifts off in the Freedom 7 Mercury spacecraft on May 5, 1961."
                                width="250" src="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/6414825.jpg">
                        </div>
                        <div class="col s3">
                            <img class="materialboxed" data-caption="The Mercury Astronauts" width="250" src="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/s63-18853_0.jpg">
                        </div>
                    </div>
                    <div class="row">
                        <p>Photos of the Gemini Project (Started 1965)</P>
                        <div class="col s3">
                            <img class="materialboxed" data-caption="On June 3, 1965, Ed White became the first American to step outside his spacecraft"
                                width="250" src="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/ed_white.jpg">
                        </div>
                        <div class="col s3">
                            <img class="materialboxed" data-caption="November 15, 1966: Gemini XII Crew Returns to Earth" width="250" src="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/12-gemini_12_recovery-23jpg.jpg">
                        </div>
                        <div class="col s3">
                            <img class="materialboxed" data-caption="Project Gemini Mission Control Center" width="250" src="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/images/433089main_KSC-64C-1868_full.jpg">
                        </div>
                        <div class="col s3">
                            <img class="materialboxed" data-caption="Gemini VI Views Gemini VII" width="250" src="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/images/163810main_image_feature_709_ys_full.jpg">
                        </div>
                    </div>
                    <div class="row">
                        <p>Photos of the Apollo Project (Started 1961)</P>
                        <div class="col s3">
                            <img class="materialboxed" data-caption="Apollo 1 Crew Honored" width="250" src="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/s67-19766.jpg">
                        </div>
                        <div class="col s3">
                            <img class="materialboxed" data-caption="View of the rising Earth greeted the Apollo 8 astronauts, December 29, 1968." width="250"
                                src="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/images/250524main_GPN-2001-000009_full.jpg">
                        </div>
                        <div class="col s3">
                            <img class="materialboxed" data-caption="The Apollo 8 crew launches on the first manned mission to the moon, December 21, 1968"
                                width="250" src="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/758840.jpg">
                        </div>
                        <div class="col s3">
                            <img class="materialboxed" data-caption="Apollo 14 Recovery" width="250" src="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/s71-19474.jpg">
                        </div>
                    </div>
                    <div class="row">
                        <p>Photos of the various SpaceX projects (Founded 2002)</P>
                        <div class="col s3">
                            <img class="materialboxed" data-caption='Falcon 9 first stage after landing on Droneship "Of Course I Still Love You"' width="250"
                                src="http://www.spacex.com/sites/spacex/files/styles/new_gallery_large/public/2016_-_06_crs8_landed2.jpg?itok=w4ndFkxW">
                        </div>
                        <div class="col s3">
                            <img class="materialboxed" data-caption="Dragon spacecraft in orbit" width="250" src="http://www.spacex.com/sites/spacex/files/styles/new_gallery_large/public/2014_-_3_dragoncrs3.jpg?itok=2j4Ajhzp">
                        </div>
                        <div class="col s3">
                            <img class="materialboxed" data-caption="Dragon spacecraft returning to earth from the International Space Station" width="250"
                                src="http://www.spacex.com/sites/spacex/files/styles/new_gallery_large/public/2015_-_05_crs6_dragon_under_chutes2.jpg?itok=PH-GjM7A">
                        </div>
                        <div class="col s3">
                            <img class="materialboxed" data-caption="First recovered Falcon 9 in the hangar at Launch Complex 39A" width="250" src="http://www.spacex.com/sites/spacex/files/styles/new_gallery_large/public/2015_-_08_94m5a0267.jpg?itok=53Cc0Rhb">
                        </div>
                    </div>
                    <div class="parallax-container">
                        <div class="parallax"><img src="../images/photosParallax02.jpg" width="1000px" height="750px"></div>
                    </div>
                </div>
            </div>
            <div class="fixed-action-btn vertical click-to-toggle">
                <a class="btn-floating btn-large cyan"><i class="material-icons">menu</i></a>
                <ul>
                    <li><a class="btn-floating cyan darken-4" href="/news"><i class="material-icons">format_list_bulleted</i></a></li>
                    <li><a class="btn-floating cyan darken-3" href="/videos"><i class="material-icons">video_library</i></a></li>
                    <li><a class="btn-floating cyan darken-2" href="/photos"><i class="material-icons">photo_library</i></a></li>
                    <li><a class="btn-floating cyan darken-1" href="/"><i class="material-icons">home</i></a></li>
                </ul>
            </div>
        </div>
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Thanks for visiting</h5>
                        <p class="grey-text text-lighten-4">and thanks for taking an interest in our planet, our solar system, and the space beyond</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Check out some other cool sites</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://www.nasa.gov/">Nasa</a></li>
                            <li><a class="grey-text text-lighten-3" href="http://www.spacex.com/">SpaceX</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2017 Copyright Earth
                    <a class="grey-text text-lighten-4 right" href="https://www.google.com/">Start Learning Today</a>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
        <script src="../libs/materialize/dist/js/materialize.min.js"></script>
        <script src="../js/jQuery.js"></script>
</body>

</html>