body {
  /*background-image: "../public/images/backdrop.jpg";*/
  background-color: #212121;
  color: white;

  .row {
    .materialboxed {
      display: block;
      margin: 5px;
    }
  }

  .page-footer {
    background-color: #00bcd4;
    .footer-copyright {
      background-color: #4caf50;
    }
  }
}
