body {
  /*background-image: "../public/images/backdrop.jpg";*/
  background-color: #212121;
  color: white;

  .row {
    .materialboxed {
      display: block;
      margin: 5px;
    }
    .cardtainer {
      .container {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
      .container.row {
        margin: 0 auto;
      }
      .card {
        .card-content {
          color: black;
        }
      }
    }
  }

  .page-footer {
    background-color: #00bcd4;
    .footer-copyright {
      background-color: #4caf50;
    }
  }
}
